#left-col
  .panel-2
    .panel-bar
      %h2 Sign In
    .formBox
      .login
        - if ExternalAuthKeys.all.present?
          %p Choose a service to login with

          .provider-links
            - ExternalAuthKeys.all.each do |external_auth_key|
              = provider_image_link external_auth_key.external_site_type
        - else
          %p
            No external sign-in configured for this site.
            = link_to "Configure it now!", new_admin_external_auth_key_path

        -# TODO: complete form
        .clear
        - if setting_enabled? 'allow_web_auth'
          %br
          %p Or login manually

          %form
            %p
              = label_tag 'login', t('.login')
              = text_field_tag 'login', @login
            %p
              = label_tag 'password', t('.password')
              = password_field_tag 'password', nil
            %p
              = label_tag 'remember_me', 'Remember me'
              = check_box_tag 'remember_me', '1', @remember_me
            %p
              = submit_tag t('.submit'), :id => "login-button"
