- items = vo.dataset
= panel3 do
  = small_feature_panel do
    = small_featured_item items.shift, :class => 'first' if items.any?
    = small_featured_item items.shift if items.any?
    = small_featured_item items.shift if items.any?
    = small_featured_item items.shift, :class => 'last' if items.any?
