!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    = render :partial => 'layouts/head'

  %body
    #bodyWrapper
      = render :partial => 'shared/header'
      = flash_messages

      = yield :sub_nav

      = yield

      = render :partial => 'shared/footer'
    -# Move these out of the footer, they can't be in a wrapper class... oh IE how I loathe thee
    #overlay.standard_overlay
      .contentWrap
    #login-overlay.standard_overlay
      .contentWrap

    = render :partial => 'layouts/foot'
