!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    = render 'layouts/head'
  %body
    #bodyWrapper
      = render 'shared/header'
      = flash_messages

      = yield :sub_nav

      = yield

      = render 'shared/footer'
      = render 'layouts/foot'
